.cal {
    background-color: rgb(241, 116, 179);
    border-spacing: 0;
    border: 5px solid rgb(255, 172, 241);
 
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding-left: 5px;
}
 
tr:nth-child(even) {
     background-color: rgb(255, 172, 241);;
}

tr:nth-child(odd) {
     background-color: rgb(187, 184, 186);
}
 tr:last-child {
  
   -webkit-border-radius: 30px 30px 0 0;
   border-radius: 0 0 90px 90px; 
 }

 tr:last-child >td:last-child {
     border-radius: 0 0 80px 0 ;
 }

  table caption {
      background :rgb(238, 210, 215) ;
       width:200px;
       height:40px;
text-transform: uppercase;
margin:  0 auto ;
border: rgb(255, 172, 241) 5px double;
 border-radius: 40px 40px 90px 90px; 
 margin-top:20px ;
  }

.cal th , .cal td{
      margin :20px ;
      padding-bottom: 2px;
  }

  th {
    text-align: center;
      background-color: rgb(194, 222, 238);
  }

  .cal td {
      vertical-align: top;
      width: 50px;
      height: 50px;
  }
  .holiday {
      background-color: rosybrown;
  }

  span {
      visibility: hidden;
      display: block;
  }

  td:active >span{
      visibility: visible; 
  }
td {
      border: rosybrown 1px solid;
  }